# Build outputs - only!
*.[oa]
*.mod.[co]
*.cmd
*.bin
*.gcno
*.gcda
.tmp_versions
*.dtb
*.dtb.S
*.dtb.*.tmp
Module.symvers
modules.order
driver/jailhouse.ko
hypervisor/include/jailhouse/config.h
hypervisor/hypervisor.lds
inmates/lib/arm/inmate.lds
inmates/lib/arm64/inmate.lds
tools/jailhouse
tools/jailhouse-gcov-extract
tools/jailhouse-config-collect
configs/*.cell
Documentation/generated
hypervisor/include/generated
hypervisor/arch/*/include/generated
*.s
ci/out
ci/*.tar.xz
