*.o
*.mod.[co]
*.cmd
*.bin
*.sw[pon]
.tmp_versions
Module.symvers
modules.order
jailhouse.ko
hypervisor/include/jailhouse/config.h
hypervisor/include/jailhouse/config.mk
hypervisor/include/jailhouse/version.h
hypervisor/hypervisor.lds
tools/jailhouse
tools/jailhouse-config-collect
configs/*.cell
Documentation/generated
hypervisor/include/generated
*.s
