/*
 * Jailhouse, a Linux-based partitioning hypervisor
 *
 * Device tree for Linux inmate test on emCON-RZ/G1M board,
 * corresponds to configs/emtrion-emconrzg1m-linux-demo.c
 *
 * Copyright (c) emtrion GmbH, 2017
 *
 * Authors:
 *  Jan von Wiarda <jan.vonwiarda@emtrion.de>
 *
 * This work is licensed under the terms of the GNU GPL, version 2.  See
 * the COPYING file in the top-level directory.
 */

#include <dt-bindings/interrupt-controller/arm-gic.h>
#include <dt-bindings/clock/r8a7743-clock.h>
#include <dt-bindings/power/r8a7743-sysc.h>

/dts-v1/;

/memreserve/ 0x0000000070000000 0x0000000000002000;
/ {
	model = "Jailhouse cell on emCON-RZ/G1M";
	compatible = "emtrion,emconrzg1m", "renesas,r8a7743";

	#address-cells = <2>;
	#size-cells = <2>;

	interrupt-parent = <&gic>;

	aliases {
		i2c2 = "/i2c@e6530000";
		serial6 = "/serial@e6ee0000";
	};

	cpus {
		#address-cells = <1>;
		#size-cells = <0>;

		cpu@0 {
			enable-method = "psci";
			device_type = "cpu";
			compatible = "arm,cortex-a15";
			reg = <0x0>;
			clock-frequency = <0x59682f00>;
			voltage-tolerance = <0x1>;
			clocks = <0x2 0x8>;
			clock-latency = <0x493e0>;
			power-domains = <0x3 0x0>;
			operating-points = <0x16e360 0xf4240 0x1406f4 0xf4240
					    0x112a88 0xf4240 0xe4e1c 0xf4240
					    0xb71b0 0xf4240 0x5b8d8 0xf4240>;
		};
	};

	memory@70000000 {
		device_type = "memory";
		reg = <0x0 0x70000000 0x0 0x0bef0000>;
	};

	chosen {
		bootargs = "console=ttySC6,115200 root=/dev/sda1 rootwait
			    ip=dhcp loglevel=8 vt.global_cursor_default=0
			    consoleblank=0";
		stdout-path = "/serial@e6ee0000";
	};

	timer {
		compatible = "arm,armv7-timer";
		interrupts = <GIC_PPI 13
				(GIC_CPU_MASK_SIMPLE(4) | IRQ_TYPE_LEVEL_LOW)>,
			     <GIC_PPI 14
				(GIC_CPU_MASK_SIMPLE(4) | IRQ_TYPE_LEVEL_LOW)>,
			     <GIC_PPI 11
				(GIC_CPU_MASK_SIMPLE(4) | IRQ_TYPE_LEVEL_LOW)>,
			     <GIC_PPI 10
				(GIC_CPU_MASK_SIMPLE(4) | IRQ_TYPE_LEVEL_LOW)>;
	};

	clocks {
		#address-cells = <0x2>;
		#size-cells = <0x2>;
		ranges;

		/* External root clock */
		extal_clk: extal_clk {
			compatible = "fixed-clock";
			#clock-cells = <0>;
			clock-frequency = <20000000>;
			clock-output-names = "extal";
		};

		audio_clka {
			compatible = "fixed-clock";
			#clock-cells = <0x0>;
			clock-frequency = <0x0>;
			clock-output-names = "audio_clka";
		};
		audio_clkb {
			compatible = "fixed-clock";
			#clock-cells = <0x0>;
			clock-frequency = <0x0>;
			clock-output-names = "audio_clkb";
		};
		audio_clkc {
			compatible = "fixed-clock";
			#clock-cells = <0x0>;
			clock-frequency = <0x0>;
			clock-output-names = "audio_clkc";
		};

		/* Special CPG clocks */
		cpg_clocks: cpg_clocks@e6150000 {
			compatible = "renesas,r8a7743-cpg-clocks",
				     "renesas,rcar-gen2-cpg-clocks";
			reg = <0 0xe6150000 0 0x1000>;
			clocks = <&extal_clk>;
			#clock-cells = <1>;
			clock-output-names = "main", "pll0", "pll1", "pll3",
					     "lb", "qspi", "sdh", "sd0";
			#power-domain-cells = <0>;
		};

		/* Variable factor clocks */
		sd2_clk: sd2_clk@e6150078 {
			compatible = "renesas,r8a7743-div6-clock",
				     "renesas,cpg-div6-clock";
			reg = <0x0 0xe6150078 0x0 0x4>;
			clocks = <0x3>;
			#clock-cells = <0x0>;
			clock-output-names = "sd2";
		};
		sd3_clk: sd3_clk@e615026c {
			compatible = "renesas,r8a7743-div6-clock",
				     "renesas,cpg-div6-clock";
			reg = <0x0 0xe615026c 0x0 0x4>;
			clocks = <0x3>;
			#clock-cells = <0x0>;
			clock-output-names = "sd3";
		};
		mmc0_clk: mmc0_clk@e6150240 {
			compatible = "renesas,r8a7743-div6-clock",
				     "renesas,cpg-div6-clock";
			reg = <0x0 0xe6150240 0x0 0x4>;
			clocks = <0x3>;
			#clock-cells = <0x0>;
			clock-output-names = "mmc0";
		};

		/* Fixed factor clocks */
		pll1_div2_clk: pll1_div2_clk {
			compatible = "fixed-factor-clock";
			clocks = <&cpg_clocks R8A7743_CLK_PLL1>;
			#clock-cells = <0>;
			clock-div = <2>;
			clock-mult = <1>;
			clock-output-names = "pll1_div2";
		};

		z2: z2 {
			compatible = "fixed-factor-clock";
			clocks = <&cpg_clocks R8A7743_CLK_PLL0>;
			#clock-cells = <0>;
			clock-div = <3>;
			clock-mult = <1>;
			clock-output-names = "z2";
		};

		zg_clk: zg_clk {
			compatible = "fixed-factor-clock";
			clocks = <&cpg_clocks R8A7743_CLK_PLL1>;
			#clock-cells = <0>;
			clock-div = <6>;
			clock-mult = <1>;
			clock-output-names = "zg";
		};

		zx_clk: zx_clk {
			compatible = "fixed-factor-clock";
			clocks = <&cpg_clocks R8A7743_CLK_PLL1>;
			#clock-cells = <0>;
			clock-div = <3>;
			clock-mult = <1>;
			clock-output-names = "zx";
		};

		zs_clk: zs_clk {
			compatible = "fixed-factor-clock";
			clocks = <&cpg_clocks R8A7743_CLK_PLL1>;
			#clock-cells = <0>;
			clock-div = <6>;
			clock-mult = <1>;
			clock-output-names = "zs";
		};

		/* Fixed factor clocks */
		hp_clk: hp_clk {
			compatible = "fixed-factor-clock";
			clocks = <&cpg_clocks R8A7743_CLK_PLL1>;
			#clock-cells = <0>;
			clock-div = <12>;
			clock-mult = <1>;
			clock-output-names = "hp";
		};
		i_clk: i_clk {
			compatible = "fixed-factor-clock";
			clocks = <&cpg_clocks R8A7743_CLK_PLL1>;
			#clock-cells = <0>;
			clock-div = <2>;
			clock-mult = <1>;
			clock-output-names = "i";
		};
		b_clk: b_clk {
			compatible = "fixed-factor-clock";
			clocks = <&cpg_clocks R8A7743_CLK_PLL1>;
			#clock-cells = <0>;
			clock-div = <12>;
			clock-mult = <1>;
			clock-output-names = "b";
		};
		p_clk: p_clk {
			compatible = "fixed-factor-clock";
			clocks = <&cpg_clocks R8A7743_CLK_PLL1>;
			#clock-cells = <0>;
			clock-div = <24>;
			clock-mult = <1>;
			clock-output-names = "p";
		};
		cl_clk: cl_clk {
			compatible = "fixed-factor-clock";
			clocks = <&cpg_clocks R8A7743_CLK_PLL1>;
			#clock-cells = <0>;
			clock-div = <48>;
			clock-mult = <1>;
			clock-output-names = "cl";
		};
		m2_clk: m2_clk {
			compatible = "fixed-factor-clock";
			clocks = <&cpg_clocks R8A7743_CLK_PLL1>;
			#clock-cells = <0>;
			clock-div = <8>;
			clock-mult = <1>;
			clock-output-names = "m2";
		};
		imp_clk: imp_clk {
			compatible = "fixed-factor-clock";
			clocks = <&cpg_clocks R8A7743_CLK_PLL1>;
			#clock-cells = <0>;
			clock-div = <4>;
			clock-mult = <1>;
			clock-output-names = "imp";
		};
		rclk_clk: rclk_clk {
			compatible = "fixed-factor-clock";
			clocks = <&cpg_clocks R8A7743_CLK_PLL1>;
			#clock-cells = <0>;
			clock-div = <(48 * 1024)>;
			clock-mult = <1>;
			clock-output-names = "rclk";
		};
		oscclk_clk: oscclk_clk {
			compatible = "fixed-factor-clock";
			clocks = <&cpg_clocks R8A7743_CLK_PLL1>;
			#clock-cells = <0>;
			clock-div = <(12 * 1024)>;
			clock-mult = <1>;
			clock-output-names = "oscclk";
		};
		zb3_clk: zb3_clk {
			compatible = "fixed-factor-clock";
			clocks = <&cpg_clocks R8A7743_CLK_PLL1>;
			#clock-cells = <0>;
			clock-div = <4>;
			clock-mult = <1>;
			clock-output-names = "zb3";
		};
		zb3d2_clk: zb3d2_clk {
			compatible = "fixed-factor-clock";
			clocks = <&cpg_clocks R8A7743_CLK_PLL1>;
			#clock-cells = <0>;
			clock-div = <8>;
			clock-mult = <1>;
			clock-output-names = "zb3d2";
		};
		ddr_clk: ddr_clk {
			compatible = "fixed-factor-clock";
			clocks = <&cpg_clocks R8A7743_CLK_PLL1>;
			#clock-cells = <0>;
			clock-div = <8>;
			clock-mult = <1>;
			clock-output-names = "ddr";
		};
		mp_clk: mp_clk {
			compatible = "fixed-factor-clock";
			clocks = <&pll1_div2_clk>;
			#clock-cells = <0>;
			clock-div = <15>;
			clock-mult = <1>;
			clock-output-names = "mp";
		};
		cp_clk: cp_clk {
			compatible = "fixed-factor-clock";
			clocks = <&cpg_clocks R8A7743_CLK_PLL1>;
			#clock-cells = <0>;
			clock-div = <48>;
			clock-mult = <1>;
			clock-output-names = "cp";
		};
		acp_clk: acp_clk {
			compatible = "fixed-factor-clock";
			clocks = <&extal_clk>;
			#clock-cells = <0>;
			clock-div = <2>;
			clock-mult = <1>;
			clock-output-names = "acp";
		};

		/* Gate clocks */
		mstp3_clks: mstp3_clks@e615013c {
			compatible = "renesas,r8a7743-mstp-clocks",
				     "renesas,cpg-mstp-clocks";
			reg = <0 0xe615013c 0 4>, <0 0xe6150048 0 4>;
			clocks = <&cpg_clocks R8A7743_CLK_SD0>;
			#clock-cells = <1>;
			clock-indices = <R8A7743_CLK_SDHI0>;
			clock-output-names = "sdhi0";
		};

		mstp7_clks: mstp7_clks@e615014c {
			compatible = "renesas,r8a7743-mstp-clocks",
				     "renesas,cpg-mstp-clocks";
			reg = <0 0xe615014c 0 4>, <0 0xe61501c4 0 4>;
			clocks = <&p_clk>;
			#clock-cells = <1>;
			clock-indices = <R8A7743_CLK_SCIF4>;
			clock-output-names = "scif4";
		};

		mstp9_clks: mstp9_clks@e6150994 {
			compatible = "renesas,r8a7743-mstp-clocks",
				     "renesas,cpg-mstp-clocks";
			reg = <0 0xe6150994 0 4>, <0 0xe61509a4 0 4>;
			clocks = <&hp_clk>;
			#clock-cells = <1>;
			clock-indices = <R8A7743_CLK_I2C2>;
			clock-output-names = "i2c2";
		};
	};

	vcc_sdhi0: regulator@0 {
		compatible = "regulator-fixed";

		regulator-name = "SDHI0 Vcc";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;

		regulator-boot-on;
		regulator-always-on;

	};

	vccq_sdhi0: regulator@1 {
		compatible = "regulator-fixed";

		regulator-name = "SDHI0 VccQ";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;

		regulator-boot-on;
		regulator-always-on;
	};

	gic: interrupt-controller@f1001000 {
		compatible = "arm,cortex-a7-gic", "arm,cortex-a15-gic";
		reg = <0x0 0xf1001000 0x0 0x1000>,
		      <0x0 0xf1002000 0x0 0x1000>;
		interrupt-controller;
		#interrupt-cells = <3>;
	};

	sysc: system-controller@e6180000 {
		compatible = "renesas,r8a7743-sysc";
		reg = <0 0xe6180000 0 0x0200>;
		#power-domain-cells = <1>;
	};

	pfc: pin-controller@e6060000 {
		compatible = "renesas,pfc-r8a7743";
		reg = <0x0 0xe6060000 0x0 0x11c>;
		#gpio-range-cells = <0x3>;
		linux,phandle = <0x7>;
		phandle = <0x7>;

		serial6 {
			renesas,groups = "scif4_data_c";
			renesas,function = "scif4";
			linux,phandle = <0x12>;
			phandle = <0x12>;
		};

		sdhi0_pins: sd0 {
			renesas,groups = "sdhi0_data4", "sdhi0_ctrl",
					 "sdhi0_cd", "sdhi0_wp";
			renesas,function = "sdhi0";
		};
	};

	scif4: serial@e6ee0000 {
		compatible = "renesas,scif-r8a7743", "renesas,scif";
		reg = <0 0xe6ee0000 0 0x40>;
		interrupts = <0 24 IRQ_TYPE_LEVEL_HIGH>;
		clocks = <&mstp7_clks R8A7743_CLK_SCIF4>;
		clock-names = "sci_ick";
		power-domains = <&sysc R8A7743_PD_ALWAYS_ON>;
		status = "okay";
		pinctrl-0 = <0x12>;
		pinctrl-names = "default";
	};

	sdhi0: sd@ee100000 {
		compatible = "renesas,sdhi-r8a7743";
		reg = <0 0xee100000 0 0x200>;
		interrupts = <0 165 IRQ_TYPE_LEVEL_HIGH>;
		clocks = <&mstp3_clks R8A7743_CLK_SDHI0>;
		power-domains = <&sysc R8A7743_PD_ALWAYS_ON>;
		status = "okay";
		vmmc-supply = <&vcc_sdhi0>;
		vqmmc-supply = <&vccq_sdhi0>;
	};

	i2c2: i2c@e6530000 {
		compatible = "renesas,i2c-r8a7743";
		reg = <0 0xe6530000 0 0x40>;
		interrupts = <0 286 IRQ_TYPE_LEVEL_HIGH>;
		clocks = <&mstp9_clks R8A7743_CLK_I2C2>;
		power-domains = <&sysc R8A7743_PD_ALWAYS_ON>;
		#address-cells = <1>;
		#size-cells = <0>;
		status = "okay";
	};
};
